@model TokenRequestPassword

@using (Html.BeginForm("Password", "Token", FormMethod.Post))
{
    <tr>
        <td>@Html.LabelFor(m => m.Domain)</td>
        <td>
            @Html.TextBoxFor(m => m.Domain)
            @Html.ValidationMessageFor(m => m.Domain)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.ClientId)</td>
        <td>
            @Html.TextBoxFor(m => m.ClientId)
            @Html.ValidationMessageFor(m => m.ClientId)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.ClientSecret)</td>
        <td>
            @Html.PasswordFor(m => m.ClientSecret)
            @Html.ValidationMessageFor(m => m.ClientSecret)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Audience)</td>
        <td>
            @Html.TextBoxFor(m => m.Audience)
            @Html.ValidationMessageFor(m => m.Audience)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Username)</td>
        <td>
            @Html.TextBoxFor(m => m.Username)
            @Html.ValidationMessageFor(m => m.Username)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Password)</td>
        <td>
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Scope)</td>
        <td>
            @Html.TextBoxFor(m => m.Scope)
            @Html.ValidationMessageFor(m => m.Scope)
        </td>
    </tr>

    <tr>
        <td>@Html.HiddenFor(m => m.GrantType)</td>
        <td>
            <input type="submit" name="command" value="get token" />
        </td>
    </tr>
}
