@model TokenRequestRefreshToken

@using (Html.BeginForm("RefreshToken", "Token", FormMethod.Post))
{
    <tr>
        <td>@Html.LabelFor(m => m.Domain)</td>
        <td>
            @Html.TextBoxFor(m => m.Domain)
            @Html.ValidationMessageFor(m => m.Domain)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.ClientId)</td>
        <td>
            @Html.TextBoxFor(m => m.ClientId)
            @Html.ValidationMessageFor(m => m.ClientId)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.ClientSecret)</td>
        <td>
            @Html.PasswordFor(m => m.ClientSecret)
            @Html.ValidationMessageFor(m => m.ClientSecret)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.RefreshToken)</td>
        <td>
            @Html.TextBoxFor(m => m.RefreshToken)
            @Html.ValidationMessageFor(m => m.RefreshToken)
        </td>
    </tr>

    <tr>
        <td>@Html.HiddenFor(m => m.GrantType)</td>
        <td>
            <input type="submit" name="command" value="get token" />
        </td>
    </tr>
}
